.container-fluid {background-color: white;
    height: 100vh;}
    .cabezera {background-color: grey;
    height: 30px;}

.primero {
    background-color:lightgrey;
    height: 150px;
}

.segundo {background-color:white;
height: 40px;}

 
   